---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
UseCRLF: false
DeriveLineEnding: false
SortIncludes: true
AlignConsecutiveAssignments: true
BreakBeforeBraces: Allman
PointerAlignment: Left
DerivePointerAlignment: false
PenaltyBreakBeforeFirstCallParameter: 200
AllowShortFunctionsOnASingleLine: InlineOnly
NamespaceIndentation: All
BraceWrapping:
  AfterClass: true
AccessModifierOffset: -4
---
